*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}




.title{
	background:#892a7e;
	color: white;
	width: 100%;
	height: 10vh;
}

.direccion{
	float: inline-end;
	position: relative;
	top: 15px;  right: 60px;
}

.red{
	position: absolute;
	top: 15px;  left: 60px;
}


.menu{
	width: 100%;
	background: white;
	position: sticky;
	top: 0;
}

.menu-cuerpo{
	float: inline-end;
	display: flex;
	position: relative;
	top: 30px; right: 70px;
	gap: 20px;
}

#menu-li{
	list-style: none;
}

#men{
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}

#men:hover{
	color: #3874f0;
	border-bottom: 3px solid #3874f0;
	transition: all 0.2s;
}

.lgo{
	width: 150px;
	height: 90px;
	position: relative;
	left: 80px;
}

#ambur{
opacity: 0;
}
#togg{
opacity: 0;
}

.car1{
	width: 100%;
	height: 100vh;
}

.footer{
 	background: #3874F0;
 	color: white;
 	font-family: sans-serif;
 	display: flex;

 }
 h3{
 	border-bottom: 3px solid white;
 }

 #max{
 	width: 100%;
 	padding: 40px;
 }


/*contenido*/

.somos{
	display: flex;
	color: white;
	font-family: sans-serif;
}

.prima{
	margin: 70px;
	padding: 50px;
	background: #3874f0;
	border-radius: 40px;
}

#img{
	margin: 50px;
	width: 480px;
	height:400px;
	border-radius: 40px;
}


.valores{
	width: 100%;
	display: flex;
	color: white;
}

#val{
	padding: 10px;
	margin: 20px;
	background: #3874f0;
	color: whites;
	border-radius: 40px;
}

p{
	padding: 30px;
}





/* responsivo para tablets */

@media (max-width:760px){
	.title{
	background:#892a7e;
	color: white;
	width: 100%;
	height: 10vh;
}

.direccion{
	float: inline-end;
	position: relative;
	top: 30px;  right: 60px;
}

.red{
	position: absolute;
	top: 30px;  left: 60px;
}


.menu{
	width: 100%;
	background: white;
}

.menu-cuerpo{
	display: inline-block;
	position: absolute;
	width: 100%;
	background: black;
	left: 0px; top: 145px;
	height: 100vh;
	text-align: center;
	display: none;
}

#menu-li{
	list-style: none;
	border-bottom: 2px solid white;
	padding: 2em;
}

#togg:checked + .menu-cuerpo{
	display: block;
}

#men{
	text-decoration: none;
	color: white;
	font-family: sans-serif;
}

#menu-li:hover{
	color: #3874f0;
	border-left: 3px solid #3874f0;
	transition: all 0.2s;
}

.lgo{
	width: 150px;
	height: 90px;
	position: relative;
	left: 140px;
}
#ambur{
	opacity: 1;
	position: relative;
	float: right;
	font-size: 40px;
	top: 20px; right: 170px;
}
#togg{
	opacity: 1;
}
}










/* responsivo para moviles  */

@media (max-width:430px){
	.title{
	background:#892a7e;
	color: white;
	width: 100%;
	height: 6vh;
}

.direccion{
	float: inline-end;
	position: relative;
	top: 15px;  right: 10px;
	font-size: 15px;
}

.red{
	position: absolute;
	top: 15px;  left: 10px;
}


.menu{

	width: 100%;
	height: 8vh;
	background: white;
}

.menu-cuerpo{
	position: relative;
	top: 30px;
}

#menu-li{
	list-style: none;
}

#men{
	text-decoration: none;
	color: white;
	font-family: sans-serif;
}

#men:hover{
	color: #3874f0;
	border-bottom: 3px solid #3874f0;
	transition: all 0.2s;
}

.lgo{
	width: 150px;
	height: 80px;
	position: absolute;
	left: 30px;
}
#ambur{
	opacity: 1;
	font-size: 35px;
	position: relative;
	right: 60px;

}
#togg{
	opacity: 0;

}

.footer{
 	background: #3874F0;
 	color: white;
 	font-family: sans-serif;
 	display: block;

 }
 h3{
 	border-bottom: 3px solid white;
 }

 #max{
 	width: 100%;
 	padding: 40px;
 }
}



