+{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}


@media (max-width:430px){
	
/*codigo de titulo*/
.title{
	background:#892a7e;
	width: 100%;
	height: 5vh;
	color: whitesmoke;
	display: flex;
}

.direccion{
	position: relative;
	top: 15px;
	left: 40px;
	font-size: 10px;
}

.red{
	position: relative;
	top: 15px;
	left: 120px;
	font-size: 10px;
}
/*menu*/

.menu{
	background: white;
	width: 100%;
	height: 5vh;
	display: flex;
}

.menu-cuerpo{
	display: none;
	width: 100%;
	height: 100vh;
	background: #3A4150;
	text-align: center;
}

#ambur{
	position: relative;
	left: 220px;
	font-size: 25px;
}

#togg:checked ~ .menu-cuerpo{
	display: block;
}

.lgo{
	position: relative;
	left: 50px;
	width: 100px;
	height: 70px;
}


#togg{
	display: none;
}

#menu-li{
	padding: 1.5em;
	list-style: none;
	border-bottom: 2px solid ghostwhite;
}

#menu-li:hover{
border-left: 4px solid whitesmoke;
transition: all 0.6s;
}
#men{

	text-decoration: none;
	color: whitesmoke;
}
/*contenido imagen*/
.car{
	max-width: 100%;
	text-align: center;
}

.car1{
	max-width: 100%;
	height: 40vh;

}

.foto{
	width: 100%;
	text-align: center;
}

#img{
	max-width: 80%;
	border-radius: 30px;
}

/*contenido somos*/

.somos{
	display: block;
}

#titulo-letra{
	border-bottom: 4px solid white;
	padding: 8px;
}
.prima{
		max-width: 100%;
		background: #3874F0;
		border-radius: 30px;
		padding: 30px;
		margin: 30px;
		text-align: justify-all;
		color: whitesmoke;
}

.valores{
	display: block;
}
 #val{
 	background: #3874F0;
 	color: whitesmoke;
 	border-radius: 30px;
 	padding: 30px;
 	margin: 30px;
 	text-align: justify-all;
 }

 /*UBICACION*/

 h3{
 	border-bottom: 3px solid whitesmoke;
 }
 .ubi{
 	max-width: 100%;
 }

 /*FOOTER*/
 .footer{
 	background: #3874F0;
 	color: whitesmoke;
 	font-family: sans-serif;
 	display: block;
 }

 #max{
 	width: 100%;
 	padding: 40px;
 }
}
 
@media (min-width:768px){
*{
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

.title{
	width: 100%;
	height: 7vh;
	display: flex;
	background:#892a7e; 
	color: white;

}

.direccion{
	position: relative;
	top: 15px; left: 60px;
}
.red{
	position: relative;
	top: 15px; left: 350px;
}

#menu{
	background: whitesmoke;
	height: 13vh;
	width: 100%;
}

.menu-cuerpo{
	position: relative;
	right: 60px; top:40px;
	float: right;
	display: flex;
	gap: 10px;
}

#menu-li{
	list-style: none;
	cursor: pointer;
}


#men{
	text-decoration: none;
	color: black;
	font-family: sans-serif;
	font-size: 18px;
}

#men:hover{
	color:#892a7e;
	transition: all .2s;
}

.lgo{
	position: relative;
	left: 30px;
	width: 180px;
	height: 105px;
}
#ambur{
	display: none;
}
#togg{
	display: none;
}

}
 


para pc

.title{
	background:#892a7e;
	width: 100%;
	color: whitesmoke;
	height:10vh;
	display: flex;
	font-size: 25px;
}

.direccion{
	position: relative;
	top: 25px;
	left: 50px;
}
.red{
	position: relative;
	top: 25px;
	left: 1250px;
}

/*menu*/


