*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.consejos-titulo{
	width: 100%;
	height: 100vh;
}

.staff-titulo{
	width: 100%;
	height: 100vh;
}


.title{
	background:#892a7e;
	color: white;
	width: 100%;
	height: 10vh;
}

.direccion{
	float: inline-end;
	position: relative;
	top: 15px;  right: 60px;
}

.red{
	position: absolute;
	top: 15px;  left: 60px;
}


.menu{
	width: 100%;
	background: white;
	position: sticky;
	top: 0;
	z-index: 100;
}

.menu-cuerpo{
	float: inline-end;
	display: flex;
	position: absolute;
	top: 30px; right: 70px;
	gap: 20px;
}

#menu-li{
	list-style: none;
}

#men{
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}

#men:hover{
	color: #3874f0;
	border-bottom: 3px solid #3874f0;
	transition: all 0.2s;
}

.lgo{
	width: 150px;
	height: 90px;
	position: relative;
	left: 80px;
}

#ambur{
opacity: 0;
}
#togg{
opacity: 0;
}

.car{
	width: 100%;
	height: 100vh;
}

.car1{
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100vh;
}

.texto-portada{
	position: relative;
	top: 0px;
	left: 700px;
	width: 48%;
	height: 100vh;
	background: #892a7e;
	opacity: .7;
	z-index: 0;
}



.fun{
	position: relative;
	top: 80px;
	color: black;
	font-size: 50px;
	font-weight: 700;
	z-index: 2;
}

.fun1{
	position: relative;
	top: 90px;
	color: black;
	font-size: 23px;
	z-index: 2;
	text-align: justify;
	font-family: sans-serif;
	margin: 10px;
}



.footer{
	background: #3874F0;
	color: white;
	font-family: sans-serif;
	display: flex;

 }
 h3{
 	border-bottom: 3px solid white;
 }

 #max{
 	width: 100%;
 	padding: 40px;
 }


/*contenido*/

.somos{
	width: 100%;
	display: flex;
}

.prima{
	background: #3874F0;
	width: 100%;
	margin: 120px;
	padding: 40px;
	border-radius: 30px;
	color: white;
}

.foto{
	margin: 40px;
}

#img{
	width: 490px;
	height: 400px;
	border-radius: 30px;
}

i{
	float: right;
	margin: 2px;
	font-size: 25px;
}

.valores{
	display: flex;
	width: 100%;
	color: white;
}
#val{
	width: 30%;
	background: #3874F0;
	margin: 30px;
	border-radius: 20px;
	padding: 30px;
}
.ubicacion{
	width: 100%;
}

.ubi{
	width: 80%;
	margin-left:130px;
}

/*java script*/

[data-content]{
	display: none;
}

.active[data-content]{
	display: block;
}


/*servicios*/

header{
	width: 100%;
}

.canva{
	width:100%;
	height: 20vh;
}

.ser{
	display: grid;
	grid-template-columns:repeat(3, 1fr) ;
}

.serv{

	margin: 30px;
	background: #1f7bc0;
	margin-left: 35px;
	border-radius: 5px;
	cursor: pointer;
}

.s{
	width: 100%;
}

#texto{
	margin: 10px;
	padding: 20px;
	text-align: justify;
}

.titulo{
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	align-content: center;
	margin-top: -25px;
	color: white;
	border-bottom: 4px solid white;
}

p{
	font-size: 15px;
	color: white;
}




/* responsivo para tablets */

@media (max-width:930px){
	.title{
	background:#892a7e;
	color: white;
	width: 100%;
	height: 14vh;
}

.direccion{
	float: inline-end;
	position: relative;
	top: 25px;  right: 60px;
}

.red{
	position: absolute;
	top: 25px;  left: 60px;
}


.menu{
	width: 100%;
	background: white;
	position: sticky;
	top: 0;
}

.menu-cuerpo{
	display: inline-block;
	position: absolute;
	width: 100%;
	background: black;
	left: 0px; top: 145px;
	height: 100vh;
	text-align: center;
	top: 90px;
	display: none;
}

#menu-li{
	list-style: none;
	border-bottom: 2px solid white;
	padding: 2em;
}

#togg:checked + .menu-cuerpo{
	display: block;
}

#men{
	text-decoration: none;
	color: white;
	font-family: sans-serif;
}

#menu-li:hover{
	color: #3874f0;
	border-left: 3px solid #3874f0;
	transition: all 0.2s;
}

.lgo{
	width: 150px;
	height: 90px;
	position: relative;
	left: 140px;
}
#ambur{
	opacity: 1;
	position: relative;
	float: right;
	font-size: 40px;
	top: 20px; right: 170px;
}
#togg{
	opacity: 0;
}


.somos{
	display: block;
	width: 100%;
	height: 80vh;
}

.prima{
	width: 83%;
	height: 70vh;
	padding: 30px;
}

#img{
	opacity: 0;
}


.valores{
	width: 100%;
}
#val{
	width: 100%;
	margin: 5px;
	padding: 15px;
	font-size: 16px;
}

i{
	margin: 5px;
	font-size: 20px;
}

.ubi{
	width: 75%;
}





header{
	width: 100%;
}

.canva{
	width:100%;
	height: 20vh;
}

.ser{
	width: 100%;
	display: grid;
	grid-template-columns:repeat(2, 1fr) ;
}

.serv{
	margin: 20px;
	max-width: 79.2%;
	background: #1f7bc0;
	margin-left: 40px;
	border-radius: 5px;
	cursor: pointer;
}

.s{
	width: 100%;
}

#texto{
	margin: 10px;
	padding: 20px;
	text-align: justify;
}

.titulo{
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	align-content: center;
	margin-top: -25px;
	color: white;
	border-bottom: 4px solid white;
}

p{
	font-size: 15px;
	color: white;
}


}






/* responsivo para moviles  */

@media (max-width:430px){
.title{
	background:#892a7e;
	color: white;
	width: 100%;
	height: 7vh;
}

.direccion{
	float: inline-end;
	position: relative;
	top: 15px;  right: 10px;
	font-size: 15px;
}

.red{
	position: absolute;
	top: 15px;  left: 10px;
}


.menu{
	width: 100%;
	height:8vh;
	background: whitse;
	position: sticky;
	top: 0;
}

.menu-cuerpo{
	position: relative;
	top: 30px;
}

#menu-li{
	list-style: none;
}

#men{
	text-decoration: none;
	color: white;
	font-family: sans-serif;
}

#men:hover{
	color: #3874f0;
	border-bottom: 3px solid #3874f0;
	transition: all 0.2s;
}

.lgo{
	width: 150px;
	height: 80px;
	position: absolute;
	left: 30px;
}
#ambur{
	opacity: 1;
	font-size: 35px;
	position: relative;
	right: 60px;

}
#togg{
	opacity: 0;
}



.footer{
	background: #3874F0;
	color: white;
	font-family: sans-serif;
	display: block;
}

h3{
	border-bottom: 3px solid white;
	}

#max{
	width: 100%;
	padding: 40px;
}
.car1{
	height:50vh;
}

.car{
	width: 100%;
	height: 52vh;
}


.somos{
	width: 100%;
	height:25vh;
	position: relative;
}

.prima{
	height: 25vh;
	margin: 35px;
	padding: 30px;
}

.foto{
	margin: 30px;
}

#img{
	display: none;
	width: 340px;
	height: 250px;
	border-radius: 30px;
}

i{
	float: right;
	margin: 2px;
	font-size: 20px;
}

.valores{
	display: block;
	width: 100%;
	color: white;
}
#val{
	width: 85%;
	background: #3874F0;
	margin: 30px;
	border-radius: 20px;
	padding: 30px;
}
.ubicacion{
	width: 100%;
}

.ubi{
	width: 80%;
	margin-left:40px;
}





header{
	width: 100%;
}

.canva{
	width:100%;
	height: 20vh;
}

.ser{
	width: 100%;
	display: grid;
	grid-template-columns:repeat(1, 1fr) ;
}

.serv{
	margin: 20px;
	max-width: 75.8%;
	background: #1f7bc0;
	margin-left: 45px;
	border-radius: 5px;
	cursor: pointer;
}

.s{
	width: 100%;
}

#texto{
	margin: 10px;
	padding: 20px;
	text-align: justify;
}

.titulo{
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	align-content: center;
	margin-top: -25px;
	color: white;
	border-bottom: 4px solid white;
}

p{
	font-size: 15px;
	color: white;
}


}



